In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("only_datapoints_single_column.csv")
df

    age
0    23
1    42
2    17
3    53
4    10
5    18
6    53
7    32
8    26
9    19
10   53
11   64
12   53
13   87
14   34
15   37
16   15
17   35
18   64
19   24
20   52
21   14
22   31
23   73
24   43
25   54
26   23
27   13
28   43
29   31
30   36
31   43
32   13
33   12
34   36
35   12
36   43
37   54
38   24
39   57
40   54
41   43
42   67
43   34
44   23
45   65
46   43
47   23
48   32